html
    head
        title zadanie_17.6
    <style type="text/css">
        include ../css/style.css
    </style>
    body
        h1 Pug and HTML Templates
        h3 What it does?
        p Please enter one of a listed below passwords and click 'Submit' button to get redirected to one of the popular web services.
        include form.pug
        h3 List of passwords:
        ul
            li Facebook
            li Youtube
            li Kodilla
